<header class="header-container">
  <nav>
    <div class='page-links'>
      <a href="/urls">My URLs</a>
      <a href="/urls/new">Create New URL</a>
    </div>
    <a href="/urls" class="website-title"><b>TinyApp</b></a>
    <% if(typeof displayName == 'undefined') { %>
      <div class="login-information">
        <a href="/login"><button type="submit">Login</button></a>
        <a href="/register"><button type="submit">Register</button></a>
      </div>
    <% } else { %>
      <div class="login-information">
        <form action="/logout" method="POST" class="logout-form">
          <h4>Logged In As: <%= displayName %></h4>
          <button type="submit" class="btn btn-dark">Logout</button>
        </form>
      </div>
    <% } %>
  </nav>
</header>