header {
  width: 100%;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:link, a:visited, a:hover, a:active {
      text-decoration: none;
    }

    a {
      color: #18020c;
    }

    form {
      display: flex;
      flex-direction: row;
      padding-right: 1em;
    }
  }
}

.website-title {
  padding-right: 2em;
}

.website-urls {
  padding: 0 1em;
}



